.services-page {
    background-color: #64be93;
    
    .navigation-zone {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;

        h1 {
            color: #ffffff;
            font-family: 'Coolvetica';
            font-size: 9vmin;
            font-weight: 300;
            margin: 0;
        }
    }

    .teaching-service {
        animation: fadeIn 1s 1.8s backwards;
        display: flex;
        flex-direction: column;
        height: 80vh;
        justify-content: center;

        h2 {
            color: #08415c;
            font-family: 'La Belle Aurore';
            font-size: 9vmin;
            text-decoration: underline;
        }

        ul {

            padding-inline-start: 30px;

            li {
                font-family: 'La Belle Aurore';
                font-size: 4vmin;

                a {
                    text-decoration: none;
                    color: #444;

                    &:hover {
                        color: #08415c;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}