.text-animate {
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    display: inline-block;
    min-width: 7px;
    opacity: 0;
}

.text-animate-hover {
    animation-fill-mode: both;
    display: inline-block;
    min-width: 7px;

    &:hover {
        animation: rubberBand 1s;
        color: #ffd700;
    }
}

.text-animate-hover-2 {
    animation-fill-mode: both;
    display: inline-block;
    min-width: 7px;

    &:hover {
        animation: rubberBand 1s;
        color: #ffffff;
    }
}

@for $i from 1 through 30 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 5}s;
    }
}