.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

.container {
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    height: 90%;
    margin: 0 auto;
    min-height: 566px;
    opacity: 0;
    position: absolute;
    top: 5%;
    transform-style: preserve-3d;
    width: 100%;
    will-change: contents;
    z-index: 1;
}