.page {
    display: flex;
    height: max-content;
    margin-left: min(60px, 10vw);
    min-height: 100vh;
    width: calc(100% - min(60px, 10vw));
}

.content {
    align-items: flex-start;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    opacity: 0;
    width: 100%;
    z-index: 1;
}

section {
    display: flex;
    height: 100vh;
    margin: 0;
    padding-left: min(30px, 5vw);
    padding-right: min(30px, 5vw);
    width: calc(100% - min(30px, 5vw) * 2);
}