html {
  font-size: 62.5%;
}

body {
  background-color: #022c43;
  color: #444;
  font: 300 11px/1.4 'Hellvetica Neue', 'sans-serif';
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
