.teaching-page {
    h1 {
        font-family: 'Coolvetica';
        font-size: 9vmin;
        font-weight: 300;
        margin-bottom: min(20px, 5vh);
        margin-top: 0;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    .landing-zone {
        background-color: #77cca4;
        min-height: max(100vh, 450px);
        text-align: left;

        p {
            align-self: flex-start;
            animation: fadeIn 1s 1.8s backwards;
            font-family: 'Helvetica Neu';
            font-size: 4vmin;
            font-weight: 600;
            margin-bottom: 0;
            margin-left: min(60px, 7vw);
            margin-top: 0;
        }

        .courses {
            align-items: center;
            animation: fadeIn 1s 1.8s backwards;
            height: 50vh;
            justify-content: center;
            margin-top: max(60px, 7vh);
    
            .chalk-outline {
                background-color: rgb(245, 137, 75);
                border-color: rgba(209, 91, 13, 0.5);
                border-style: solid;
                border-width: 5px;
                padding: 3.5em;
    
                h2 {
                    font-family: 'La Belle Aurore';
                    font-size: 7.5vmin;
                    font-weight: 300;
                    margin-bottom: 0;
                    margin-top: 0;
                }
                
                ul {
                    padding-inline-start: 2vw;
        
                    li {
                        font-family: 'La Belle Aurore';
                        font-size: 5vmin;

                        .course-name {
                            color: #444444;
                            text-decoration: none;

                            &:hover {
                                color: #ffffff;
                                cursor: pointer;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .box {
        align-items: flex-start;
        animation: fadeIn 1s 1.8s backwards;
        font-family: 'Helvetica Neu';
        font-weight: 600;
        min-height: 50vh;
        padding-left: 3.5em;
        text-align: left;

        h1 {
            text-align: left;
            text-decoration: underline;
        }
    
        h2 {
            font-size: 4vmin;
            margin-bottom: 0;
            margin-top: 0;
        }

        a {
            text-decoration: none;
            font-size: 3vmin;
        }
    }

    .links {
        padding-bottom: 5vh;
    }

    .blender {
        background-color: #ecc411;

        h1 {
            color: #181818;
        }
    }

    .english {
        background-color: #ece6d5;

        h1 {
            color: #634b30;
        }
    }

    .mathematics {
        background-color: #f0cc80;

        h1 {
            color: #413434;
        }

        h2 {
            color: #413434;
        }
    }

    .python {
        background-color: #ffffff;
    }

    .roblox-studios {
        background-color: #a3dff1;

        h1 {
            color: #413434;
        }
    }
}