.teaching-page {
    background-color: #77cca4;
    height: max(100vh, 700px);
    
    .landing-zone {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;

        h1 {
            font-family: papyrus;
            font-size: 9vmin;
            font-weight: 900;
            margin-top: 0;
        }

        p {
            align-self: flex-start;
            animation: fadeIn 1s 1.8s backwards;
            font-family: papyrus;
            font-size: 4vmin;
            font-weight: 600;
            margin-bottom: 0;
            margin-left: min(60px, 7vw);
            margin-top: 0;
        }
    }

    .courses {
        align-items: center;
        animation: fadeIn 1s 1.8s backwards;
        display: flex;
        flex-direction: column;
        height: 70vh;
        justify-content: center;
        margin-top: max(60px, 7vh);

        .chalk-outline {
            background-color: rgb(245, 137, 75);
            border-color: rgba(209, 91, 13, 0.5);
            border-style: solid;
            border-width: 5px;
            padding: 4em;

            h2 {
                font-family: 'La Belle Aurore';
                font-size: 7.5vmin;
                margin-bottom: 0;
                margin-top: 0;
            }
            
            ul {
                padding-inline-start: 2vw;
    
                li {
                    font-family: 'La Belle Aurore';
                    font-size: 5vmin;
    
                    .course-name:hover {
                        color: #ffffff;
                        cursor: pointer;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}